
RegistryDiscovery/bin/Debug/netstandard2.0/RegistryDiscovery.deps.json
RegistryDiscovery/bin/Debug/netstandard2.0/RegistryDiscovery.dll
RegistryDiscovery/bin/Debug/netstandard2.0/RegistryDiscovery.pdb
RegistryDiscovery/bin/Release/DLS.RegistryDiscovery.1.0.0.nupkg
RegistryDiscovery/bin/Release/netstandard2.0/RegistryDiscovery.deps.json
RegistryDiscovery/bin/Release/netstandard2.0/RegistryDiscovery.dll
RegistryDiscovery/bin/Release/netstandard2.0/RegistryDiscovery.pdb
RegistryDiscovery/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
RegistryDiscovery/obj/Debug/netstandard2.0/RegistryDiscovery.AssemblyInfo.cs
RegistryDiscovery/obj/Debug/netstandard2.0/RegistryDiscovery.AssemblyInfoInputs.cache
RegistryDiscovery/obj/Debug/netstandard2.0/RegistryDiscovery.assets.cache
RegistryDiscovery/obj/Debug/netstandard2.0/RegistryDiscovery.csproj.CoreCompileInputs.cache
RegistryDiscovery/obj/Debug/netstandard2.0/RegistryDiscovery.csproj.FileListAbsolute.txt
RegistryDiscovery/obj/Debug/netstandard2.0/RegistryDiscovery.csprojAssemblyReference.cache
RegistryDiscovery/obj/Debug/netstandard2.0/RegistryDiscovery.dll
RegistryDiscovery/obj/Debug/netstandard2.0/RegistryDiscovery.pdb
RegistryDiscovery/obj/project.assets.json
RegistryDiscovery/obj/project.nuget.cache
RegistryDiscovery/obj/registryDiscovery.csproj.nuget.dgspec.json
RegistryDiscovery/obj/RegistryDiscovery.csproj.nuget.g.props
RegistryDiscovery/obj/RegistryDiscovery.csproj.nuget.g.targets
RegistryDiscovery/obj/Release/DLS.RegistryDiscovery.1.0.0.nuspec
RegistryDiscovery/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
RegistryDiscovery/obj/Release/netstandard2.0/RegistryDiscovery.AssemblyInfo.cs
RegistryDiscovery/obj/Release/netstandard2.0/RegistryDiscovery.AssemblyInfoInputs.cache
RegistryDiscovery/obj/Release/netstandard2.0/RegistryDiscovery.assets.cache
RegistryDiscovery/obj/Release/netstandard2.0/RegistryDiscovery.csproj.CoreCompileInputs.cache
RegistryDiscovery/obj/Release/netstandard2.0/RegistryDiscovery.csproj.FileListAbsolute.txt
RegistryDiscovery/obj/Release/netstandard2.0/registryDiscovery.csprojAssemblyReference.cache
RegistryDiscovery/obj/Release/netstandard2.0/RegistryDiscovery.dll
RegistryDiscovery/obj/Release/netstandard2.0/RegistryDiscovery.pdb
sample/bin/Release/Microsoft.Win32.Primitives.dll
sample/bin/Release/netstandard.dll
sample/bin/Release/registryDiscovery.dll
sample/bin/Release/registryDiscovery.pdb
sample/bin/Release/sample.exe
sample/bin/Release/sample.exe.config
sample/bin/Release/sample.pdb
sample/bin/Release/System.AppContext.dll
sample/bin/Release/System.Collections.Concurrent.dll
sample/bin/Release/System.Collections.dll
sample/bin/Release/System.Collections.NonGeneric.dll
sample/bin/Release/System.Collections.Specialized.dll
sample/bin/Release/System.ComponentModel.dll
sample/bin/Release/System.ComponentModel.EventBasedAsync.dll
sample/bin/Release/System.ComponentModel.Primitives.dll
sample/bin/Release/System.ComponentModel.TypeConverter.dll
sample/bin/Release/System.Console.dll
sample/bin/Release/System.Data.Common.dll
sample/bin/Release/System.Diagnostics.Contracts.dll
sample/bin/Release/System.Diagnostics.Debug.dll
sample/bin/Release/System.Diagnostics.FileVersionInfo.dll
sample/bin/Release/System.Diagnostics.Process.dll
sample/bin/Release/System.Diagnostics.StackTrace.dll
sample/bin/Release/System.Diagnostics.TextWriterTraceListener.dll
sample/bin/Release/System.Diagnostics.Tools.dll
sample/bin/Release/System.Diagnostics.TraceSource.dll
sample/bin/Release/System.Diagnostics.Tracing.dll
sample/bin/Release/System.Drawing.Primitives.dll
sample/bin/Release/System.Dynamic.Runtime.dll
sample/bin/Release/System.Globalization.Calendars.dll
sample/bin/Release/System.Globalization.dll
sample/bin/Release/System.Globalization.Extensions.dll
sample/bin/Release/System.IO.Compression.dll
sample/bin/Release/System.IO.Compression.ZipFile.dll
sample/bin/Release/System.IO.dll
sample/bin/Release/System.IO.FileSystem.dll
sample/bin/Release/System.IO.FileSystem.DriveInfo.dll
sample/bin/Release/System.IO.FileSystem.Primitives.dll
sample/bin/Release/System.IO.FileSystem.Watcher.dll
sample/bin/Release/System.IO.IsolatedStorage.dll
sample/bin/Release/System.IO.MemoryMappedFiles.dll
sample/bin/Release/System.IO.Pipes.dll
sample/bin/Release/System.IO.UnmanagedMemoryStream.dll
sample/bin/Release/System.Linq.dll
sample/bin/Release/System.Linq.Expressions.dll
sample/bin/Release/System.Linq.Parallel.dll
sample/bin/Release/System.Linq.Queryable.dll
sample/bin/Release/System.Net.Http.dll
sample/bin/Release/System.Net.NameResolution.dll
sample/bin/Release/System.Net.NetworkInformation.dll
sample/bin/Release/System.Net.Ping.dll
sample/bin/Release/System.Net.Primitives.dll
sample/bin/Release/System.Net.Requests.dll
sample/bin/Release/System.Net.Security.dll
sample/bin/Release/System.Net.Sockets.dll
sample/bin/Release/System.Net.WebHeaderCollection.dll
sample/bin/Release/System.Net.WebSockets.Client.dll
sample/bin/Release/System.Net.WebSockets.dll
sample/bin/Release/System.ObjectModel.dll
sample/bin/Release/System.Reflection.dll
sample/bin/Release/System.Reflection.Extensions.dll
sample/bin/Release/System.Reflection.Primitives.dll
sample/bin/Release/System.Resources.Reader.dll
sample/bin/Release/System.Resources.ResourceManager.dll
sample/bin/Release/System.Resources.Writer.dll
sample/bin/Release/System.Runtime.CompilerServices.VisualC.dll
sample/bin/Release/System.Runtime.dll
sample/bin/Release/System.Runtime.Extensions.dll
sample/bin/Release/System.Runtime.Handles.dll
sample/bin/Release/System.Runtime.InteropServices.dll
sample/bin/Release/System.Runtime.InteropServices.RuntimeInformation.dll
sample/bin/Release/System.Runtime.Numerics.dll
sample/bin/Release/System.Runtime.Serialization.Formatters.dll
sample/bin/Release/System.Runtime.Serialization.Json.dll
sample/bin/Release/System.Runtime.Serialization.Primitives.dll
sample/bin/Release/System.Runtime.Serialization.Xml.dll
sample/bin/Release/System.Security.Claims.dll
sample/bin/Release/System.Security.Cryptography.Algorithms.dll
sample/bin/Release/System.Security.Cryptography.Csp.dll
sample/bin/Release/System.Security.Cryptography.Encoding.dll
sample/bin/Release/System.Security.Cryptography.Primitives.dll
sample/bin/Release/System.Security.Cryptography.X509Certificates.dll
sample/bin/Release/System.Security.Principal.dll
sample/bin/Release/System.Security.SecureString.dll
sample/bin/Release/System.Text.Encoding.dll
sample/bin/Release/System.Text.Encoding.Extensions.dll
sample/bin/Release/System.Text.RegularExpressions.dll
sample/bin/Release/System.Threading.dll
sample/bin/Release/System.Threading.Overlapped.dll
sample/bin/Release/System.Threading.Tasks.dll
sample/bin/Release/System.Threading.Tasks.Parallel.dll
sample/bin/Release/System.Threading.Thread.dll
sample/bin/Release/System.Threading.ThreadPool.dll
sample/bin/Release/System.Threading.Timer.dll
sample/bin/Release/System.ValueTuple.dll
sample/bin/Release/System.Xml.ReaderWriter.dll
sample/bin/Release/System.Xml.XDocument.dll
sample/bin/Release/System.Xml.XmlDocument.dll
sample/bin/Release/System.Xml.XmlSerializer.dll
sample/bin/Release/System.Xml.XPath.dll
sample/bin/Release/System.Xml.XPath.XDocument.dll
sample/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
sample/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
sample/obj/Release/sample.csproj.CopyComplete
sample/obj/Release/sample.csproj.CoreCompileInputs.cache
sample/obj/Release/sample.csproj.FileListAbsolute.txt
sample/obj/Release/sample.csprojAssemblyReference.cache
sample/obj/Release/sample.exe
sample/obj/Release/sample.exe.config
sample/obj/Release/sample.pdb
